/BaseAbstractUnivariateOptimizer.java
/BaseUnivariateOptimizer.java
/BracketFinder.java
/BrentOptimizer.java
/package-info.java
/SimpleUnivariateValueChecker.java
/UnivariateMultiStartOptimizer.java
/UnivariateOptimizer.java
/UnivariatePointValuePair.java
