/AbstractDifferentiableOptimizer.java
/AbstractLeastSquaresOptimizer.java
/AbstractScalarDifferentiableOptimizer.java
/ConjugateGradientFormula.java
/GaussNewtonOptimizer.java
/LevenbergMarquardtOptimizer.java
/NonLinearConjugateGradientOptimizer.java
/package-info.java
/Preconditioner.java
