/FirstMoment.java
/FourthMoment.java
/GeometricMean.java
/Kurtosis.java
/Mean.java
/package-info.java
/SecondMoment.java
/SemiVariance.java
/Skewness.java
/StandardDeviation.java
/ThirdMoment.java
/Variance.java
/VectorialCovariance.java
/VectorialMean.java
