/AbstractRegion.java
/AbstractSubHyperplane.java
/BoundaryAttribute.java
/BoundaryBuilder.java
/BoundaryProjection.java
/BoundaryProjector.java
/BoundarySizeVisitor.java
/BSPTree.java
/BSPTreeVisitor.java
/Characterization.java
/Embedding.java
/Hyperplane.java
/InsideFinder.java
/NodesSet.java
/package-info.java
/Region.java
/RegionFactory.java
/Side.java
/SubHyperplane.java
/Transform.java
