/AbstractSimplex.java
/BaseAbstractMultivariateOptimizer.java
/BaseAbstractMultivariateSimpleBoundsOptimizer.java
/BaseAbstractMultivariateVectorOptimizer.java
/BOBYQAOptimizer.java
/CMAESOptimizer.java
/MultiDirectionalSimplex.java
/MultivariateFunctionMappingAdapter.java
/MultivariateFunctionPenaltyAdapter.java
/NelderMeadSimplex.java
/package-info.java
/PowellOptimizer.java
/SimplexOptimizer.java
