/DiskGeneratorTest.java
/Euclidean2DTest.java
/FrenchVector2DFormatTest.java
/LineTest.java
/PolygonsSetTest.java
/SegmentTest.java
/SubLineTest.java
/Vector2DFormatAbstractTest.java
/Vector2DFormatTest.java
/Vector2DTest.java
