/anovaTestCases
/binomialTestCases
/cauchyTestCases.R
/ChiSquareDistributionTestCases.R
/chiSquareTestCases
/correlationTestCases
/covarianceTestCases
/descriptiveTestCases
/exponentialTestCases
/FDistributionTestCases.R
/GammaDistributionTestCases.R
/geometricTestCases
/gumbelTestCases.R
/hypergeometricTestCases
/KolmogorovSmirnovDistributionTestCases.R
/KolmogorovSmirnovTestCases.R
/laplaceTestCases.R
/LevyDistributionTestCases.R
/logisticsTestCases.R
/logNormalTestCases
/multipleOLSRegressionTestCases
/nakagamiTestCases.R
/normalTestCases
/paretoTestCases
/pascalTestCases
/poissonTestCases
/README.txt
/regressionTestCases
/TDistributionTestCases.R
/testAll
/testFunctions
/TTestCases
/WeibullDistributionTestCases.R
/zipfTestCases
