/BivariateFunction.java
/DifferentiableMultivariateFunction.java
/DifferentiableMultivariateVectorFunction.java
/DifferentiableUnivariateFunction.java
/DifferentiableUnivariateMatrixFunction.java
/DifferentiableUnivariateVectorFunction.java
/FunctionUtils.java
/MultivariateFunction.java
/MultivariateMatrixFunction.java
/MultivariateVectorFunction.java
/package-info.java
/ParametricUnivariateFunction.java
/TrivariateFunction.java
/UnivariateFunction.java
/UnivariateMatrixFunction.java
/UnivariateVectorFunction.java
