/gamma-distribution-shape-1.csv
/gamma-distribution-shape-8.csv
/gamma-distribution-shape-10.csv
/gamma-distribution-shape-100.csv
/gamma-distribution-shape-142.csv
/gamma-distribution-shape-1000.csv
/gamma-distribution.mac
