/CurveFitterTest.java
/GaussianCurveFitterTest.java
/GaussianFitterTest.java
/HarmonicCurveFitterTest.java
/HarmonicFitterTest.java
/PolynomialCurveFitterTest.java
/PolynomialFitterTest.java
/SimpleCurveFitterTest.java
/WeightedObservedPointsTest.java
