/AbstractEvaluation.java
/DenseWeightedEvaluation.java
/EvaluationRmsChecker.java
/GaussNewtonOptimizer.java
/LeastSquaresAdapter.java
/LeastSquaresBuilder.java
/LeastSquaresFactory.java
/LeastSquaresOptimizer.java
/LeastSquaresProblem.java
/LevenbergMarquardtOptimizer.java
/MultivariateJacobianFunction.java
/OptimumImpl.java
/package-info.java
/ParameterValidator.java
/ValueAndJacobianFunction.java
