/BaseRuleFactory.java
/GaussIntegrator.java
/GaussIntegratorFactory.java
/HermiteRuleFactory.java
/LegendreHighPrecisionRuleFactory.java
/LegendreRuleFactory.java
/package-info.java
/SymmetricGaussIntegrator.java
