/BaseRuleFactoryTest.java
/GaussianQuadratureAbstractTest.java
/GaussIntegratorTest.java
/HermiteParametricTest.java
/HermiteTest.java
/LegendreHighPrecisionParametricTest.java
/LegendreHighPrecisionTest.java
/LegendreParametricTest.java
/LegendreTest.java
