/AgrestiCoullIntervalTest.java
/BinomialConfidenceIntervalAbstractTest.java
/ClopperPearsonIntervalTest.java
/IntervalUtilsTest.java
/NormalApproximationIntervalTest.java
/WilsonScoreIntervalTest.java
