/ConvergenceException.java
/DimensionMismatchException.java
/InsufficientDataException.java
/MathArithmeticException.java
/MathIllegalArgumentException.java
/MathIllegalNumberException.java
/MathIllegalStateException.java
/MathInternalError.java
/MathParseException.java
/MathRuntimeException.java
/MathUnsupportedOperationException.java
/MaxCountExceededException.java
/MultiDimensionMismatchException.java
/NoBracketingException.java
/NoDataException.java
/NonMonotonicSequenceException.java
/NotANumberException.java
/NotFiniteNumberException.java
/NotPositiveException.java
/NotStrictlyPositiveException.java
/NullArgumentException.java
/NumberIsTooLargeException.java
/NumberIsTooSmallException.java
/OutOfRangeException.java
/package-info.java
/TooManyEvaluationsException.java
/TooManyIterationsException.java
/ZeroException.java
