/BOBYQAOptimizerTest.java
/CMAESOptimizerTest.java
/MultivariateFunctionMappingAdapterTest.java
/MultivariateFunctionPenaltyAdapterTest.java
/PowellOptimizerTest.java
/SimplexOptimizerMultiDirectionalTest.java
/SimplexOptimizerNelderMeadTest.java
