/AbstractCurveFitter.java
/CurveFitter.java
/GaussianCurveFitter.java
/GaussianFitter.java
/HarmonicCurveFitter.java
/HarmonicFitter.java
/package-info.java
/PolynomialCurveFitter.java
/PolynomialFitter.java
/SimpleCurveFitter.java
/WeightedObservedPoint.java
/WeightedObservedPoints.java
