/AgrestiCoullInterval.java
/BinomialConfidenceInterval.java
/ClopperPearsonInterval.java
/ConfidenceInterval.java
/IntervalUtils.java
/NormalApproximationInterval.java
/package-info.java
/WilsonScoreInterval.java
