/CardanEulerSingularityException.java
/Euclidean3D.java
/FieldRotation.java
/FieldVector3D.java
/Line.java
/NotARotationMatrixException.java
/OutlineExtractor.java
/package-info.java
/Plane.java
/PolyhedronsSet.java
/Rotation.java
/RotationOrder.java
/Segment.java
/SphereGenerator.java
/SphericalCoordinates.java
/SubLine.java
/SubPlane.java
/Vector3D.java
/Vector3DFormat.java
