/AkimaSplineInterpolatorTest.java
/BicubicInterpolatingFunctionTest.java
/BicubicInterpolatorTest.java
/BicubicSplineInterpolatingFunctionTest.java
/BicubicSplineInterpolatorTest.java
/DividedDifferenceInterpolatorTest.java
/FieldHermiteInterpolatorTest.java
/HermiteInterpolatorTest.java
/LinearInterpolatorTest.java
/LoessInterpolatorTest.java
/MicrosphereInterpolatorTest.java
/NevilleInterpolatorTest.java
/PiecewiseBicubicSplineInterpolatingFunctionTest.java
/PiecewiseBicubicSplineInterpolatorTest.java
/SmoothingPolynomialBicubicSplineInterpolatorTest.java
/SplineInterpolatorTest.java
/TricubicInterpolatingFunctionTest.java
/TricubicInterpolatorTest.java
/TricubicSplineInterpolatingFunctionTest.java
/TricubicSplineInterpolatorTest.java
/UnivariatePeriodicInterpolatorTest.java
