/BracketFinder.java
/BrentOptimizer.java
/MultiStartUnivariateOptimizer.java
/package-info.java
/SearchInterval.java
/SimpleUnivariateValueChecker.java
/UnivariateObjectiveFunction.java
/UnivariateOptimizer.java
/UnivariatePointValuePair.java
