/DimensionMismatchExceptionTest.java
/MaxCountExceededExceptionTest.java
/NonMonotonicSequenceExceptionTest.java
/NotPositiveExceptionTest.java
/NotStrictlyPositiveExceptionTest.java
/NumberIsTooLargeExceptionTest.java
/NumberIsTooSmallExceptionTest.java
/OutOfRangeExceptionTest.java
/TooManyEvaluationsExceptionTest.java
