/FirstMomentTest.java
/FourthMomentTest.java
/GeometricMeanTest.java
/InteractionTest.java
/KurtosisTest.java
/MeanTest.java
/SecondMomentTest.java
/SemiVarianceTest.java
/SkewnessTest.java
/StandardDeviationTest.java
/ThirdMomentTest.java
/VarianceTest.java
/VectorialCovarianceTest.java
/VectorialMeanTest.java
